
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron bg-transparent" id="jumbotron">
    <h1 class="text-center text-white">Welcome to your e-Fitness trainer!</h1>
</div>


