
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-light">LogIn</h2>

<div class="container">

@using (Html.BeginForm())
{
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="text-light" for="username">UserName:</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label class="text-light" for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sign in" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

</div>
